<h1><%= @restaurant.name %></h1>
<h4><%= @restaurant.phone_number %></h4>
<h5><%= @restaurant.address %></h5>
<h5><%= @restaurant.category %></h5>

<%= link_to "Back to homepage", restaurants_path %>
